   * {
     padding: 0%;
     margin: 0%;
     background-color: aqua;
     /* background-image: url("../picture/flowers.jpg"); */
     /* background-repeat: repeat-y; */
     /* background-repeat: no-repeat; */
     /* background-repeat: round; */
     /* background-attachment: fixed;
     background-position: left top; */
     background: url("../picture/flowers.jpg") no-repeat fixed top right;
   }

   #ahsan {
     color: blue;
     background-color: black;
     opacity: 0.7;
   }

   .mahnoor {
     color: brown;
     background-color: antiquewhite;
   }

   .boder-style {
     border: 5px solid blue;
     /* margin-top: 20px;
     margin-right: 10px;
     margin-bottom: 30px;
     margin-left: 10px; */
     margin: 50px 20px 30px 10px;
     padding: 20px 10px 20px 10px;

   }